@model VidlyNew.Models.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                <h3> Movie Details</h3>
            </th>
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>
                @if (Model != null)
                {
                    <h3>@Model.Name</h3>
                }
                else
                {
                    <h3>No matching data available</h3>
                }
            </td>
        </tr>     

    </tbody>
</table>