@model IEnumerable<VidlyNew.Models.Movie>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                <h3>Movie</h3>
            </th>
            <th>
                <h3>Genre</h3>
            </th>
        </tr>
    </thead>
    <tbody>
<tbody>
       @if (!Model.Any())
       {
        <tr>
            <td colspan="2">
                There are no movies available yet.
            </td>
        </tr>
       }
       else
       {
           foreach (var movie in Model)
           {
                <tr>
                    <td>
                        @Html.ActionLink(
                           movie.Name,
                           "Details",
                           "Movies",
                           new
                           {
                               Id = movie.Id
                           },
                           null
                       )
                    </td>
                    <td>@movie.Genre.Name</td>
</tr>
            }
        }
    </tbody>
</table>


