@model VidlyNew.ViewModels.RandomMovieViewModel 
@{
    ViewBag.Title = "Random";
}


@*



    Razorr engine can parse c# code and markup simultaneously
*@

@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;


<h2 class="@className">@Model.Movie.Name</h2>
}

@if (Model.Customers.Count == 0)
{
    <p >This movie has never been rented before.</p>
}
else
{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>
}